@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
body{
background-color: rgb(0, 0, 0);
color: #ffffff;
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
margin-top: 5%;

}

.reviews{
  padding-left: 2%;
  padding-right: 2%;


}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  justify-content: center; 
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 2ch;
  
}

footer {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  color: #000000;
}

footer p {
  font-size: 14px;
  color: #000000;
}